services:
  koshelf:
    container_name: koshelf-git
    build: .
    ports:
      - "3000:3000"
    volumes:
      - $SYNCTHING_DIR/books:/books
      - $SYNCTHING_DIR/stats:/settings
      # map to empty to ignore syncthing folders
      - /books/.stversions
      - /books/.stfolder
      - /settings/.stversions
      - /settings/.stfolder
      # If using HASHDOCSETTINGS uncomment the 3 following lines
      # - $SYNCTHING_DIR/hashdocsettings:/hashdocsettings # Optional
      # - /hashdocsettings/.stversions
      # - /hashdocsettings/.stfolder
      # If using DOCSETTINGS uncomment the 3 following lines
      # - $SYNCTHING_DIR/docsettings:/docsettings # Optional
      # - /hashdocsettings/.stversions
      # - /hashdocsettings/.stfolder
    environment:
      TITLE: "My KoShelf library" # Optional, default "My KoShelf library"
      # LANG: "en_US" # Optional, default en_US, Language for UI translations
      # TIMEZONE: "Australia/Sydney" # Optional, default to system local
      # SYNCTHING_DIR: /path/to/syncthing/root/dir
      # for users who store metadata separatel enable one of DOC or HASHDOC SETSINGS below
      # DOCSETTINGS: /docsettings # Optional, Path to KOReader's docsettings folder
      # HASHDOCSETTINGS: /hashdocsettings # Optional, Path to KOReader's hashdocsettings folder
      # INCLUDE_UNREAD: "true" # Optional, default false, Include unread books (EPUBs without KoReader metadata)
      # INCLUDE_ALL_STATS: "true" # Optional, default false, include statistics for all books in the database, regardless of whether they exist in your library
    restart: unless-stopped
