services:
  koshelf:
    container_name: koshelf-git
    build: .
    ports:
      - "3000:3000"
    volumes:
      - $SYNCTHING_DIR/books:/books
      - $SYNCTHING_DIR/stats:/settings
      # - $SYNCTHING_DIR/hashdocsettings:/hashdocsettings # Optional
      # - $SYNCTHING_DIR/docsettings:/docsettings # Optional
    environment:
      TITLE: "My KoShelf library" # Optional
      # DOCSETTINGS: /docsettings # Optional
      # HASHDOCSETTINGS: /hashdocsettings # Optional
    restart: unless-stopped
